{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

  <div class="row">
    <div class="col-lg-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-bg--bs-secondary-color);"></rect></svg> -->
      <h2 class="fw-normal">Coding</h2>
      <p>I like coding on Python, HTML/CSS and so one. Making websites and Telegram bots I like the most.</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-bg--bs-secondary-color);"></rect></svg> -->
      <h2 class="fw-normal">Sport</h2>
      <p>It isn`t just a hobby. I am needed to go to gym everyday, because if I wouldn`t go, I and others will feel bad.</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-bg--bs-secondary-color);"></rect></svg> -->
      <h2 class="fw-normal">Anime</h2>
      <p>I like wathcing classic anime, such as `Attack on Titan`, `Jujutsu Kaisen` and so one.</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
  </div>

{% endblock %}